<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangu.tool.secret.dao.mapper.SysUserInfoMapper">
  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.hangu.tool.secret.dao.entity.SysUserInfo">
    <id column="id" property="id"/>
    <result column="user_name" property="userName"/>
    <result column="account" property="account"/>
    <result column="password" property="password"/>
    <result column="avatar" property="avatar"/>
    <result column="create_at" property="createAt"/>
    <result column="version" property="version"/>
    <result column="update_at" property="updateAt"/>
    <result column="status" property="status"/>
  </resultMap>

  <update id="updatePasswordByAccount">
    update sys_user_info
    set password = #{password}
    where account = #{account}
  </update>

  <delete id="deleteByPassword">
    delete
    from sys_user_info
    where password =
          #{password}
  </delete>

  <update id="updateByPassword">
    update sys_user_info
    set password = #{newPassword}
    where password = #{oldPassword}
  </update>

  <update id="updateEntityByPassword">
    update sys_user_info
    set password = #{update.password},
        avatar   = #{update.avatar}
    where password = #{oldPassword}
  </update>

  <select id="queryByPassword" parameterType="com.hangu.tool.secret.dao.entity.SysUserInfo"
    resultType="com.hangu.tool.secret.dao.entity.SysUserInfo">
    select *
    from sys_user_info
    where password = #{password}
  </select>
</mapper>
